/* style.scss */
@import "colors";
$radius: 10px;

body {
	background-color: $main-color;
}

h1 {	
	#{$c}: $headers-color;
}
	
p {
	font-family: arial;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.warning {
	@extend p;
	color: yellow;
}

@mixin rounded-border ($radius) {
  border-radius: $radius;
  border: solid;
}

header {
	@include rounded-border(30px);
}

footer {
	@include rounded-border;
	background-#{$c}: $footer-background-color;
	color: $footer-font-color;	
}

@mixin circle($height:20px){
	width:$height;
	height:$height;
	display:block;
	background-color:black;
	border-radius:$height/2;
}

$i: 4;
@while $i > 0 {
  .circle#{$i} { 
	@include circle($i*50px); 
  }
  $i: $i - 1;
}
